
<div class="container">
  <div class="header">
      <h1>Valorant Color Tool</h1>
  </div>
  <div class="body">
      <h2>Input the message you would like to color!</h2>
      <input type="text" id="input" name="input" placeholder="Enter text to colorize">

      <div class="buttons">
        <div class="buttoncontainer">
          <button id="red" (click)="red()">red</button>
          <button id="yellow" (click)="yellow()">yellow</button>
          <button id="green" (click)="green()">green</button>
          <button id="blue" (click)="blue()">blue</button>
          <button id="pink" (click)="pink()">pink</button>
          <button id="random" (click)="random()">random</button>
          <button id="rainbow" (click)="rainbow()">rainbow</button>
        </div>
      </div>

      <h2 id="output_header">Colored Output (Paste in-game)</h2>
      <div class="output_container" id="outputfix">
      
      <div id="output"></div>
      </div>
    </div>


    <div class="footer">
      <p>Created by <a href="https://twitter.com/spebner" target="_blank">hotdog#80085</a>, <a href="https://www.instagram.com/bigfootsbf/" target="_blank">bigfootsbf#8502</a>, and <a href="https://i.imgflip.com/1eb4fk.jpg" target="_blank">kassem</a></p>
    </div>
</div>
