<div class="container">
  <div class="header">
      <h1>Valorant Color Tool</h1>
  </div>
  <div class="body">
      <h2>Input the message you would like to color!</h2>
      <input type="text" id="input">

      <div class="buttons">
        <div class="buttoncontainer">
          <button id="red" (click)="red()">red</button>
          <button id="yellow">yellow</button>
          <button id="green">green</button>
          <button id="blue">blue</button>
          <button id="pink">pink</button>
          <button id="random">random</button>
          <button id="rainbow" (click)="rainbow()">rainbow</button>
        </div>
      </div>

      <div class="output_container">

        output = <div id="output"></div>
      </div>
    </div>



</div>